<div class="container">
  <% @performance.proposals.order("status = 0 DESC, status = 1 DESC, status = 2 DESC, status = 3 DESC, status = 4 DESC").each do |proposal| %>
    <div class="product">
      <% if proposal.event.place.photo? %>
        <%= link_to place_path(proposal.event.place) do %>
          <%= cl_image_tag proposal.event.place.photo.path, width: 400, aspect_ratio: "16:9", crop: :fill, class: "product-image hidden-xs" %>
        <% end %>

      <% else %>
        <%= link_to place_path(proposal.event.place) do %>
          <%= cl_image_tag "http://res.cloudinary.com/onmuze/image/upload/c_scale,w_400/v1496228339/places_ammyga.jpg", width: 400, aspect_ratio: "16:9", crop: :fill, class: "product-image hidden-xs" %>
        <% end %>
      <% end %>

      <div class="product-body">
        <p>From <%= proposal.event.place.name %></p>
        <p>Event Date: <%= proposal.event.scheduled_at.strftime('%d/%m/%Y') %></p>
        <p class="<%= proposal.status %>"><%= proposal.status.capitalize %></p>
      </div>

      <div class="product-links">
        <%= link_to event_path(proposal.event) do %>
          <p><i class="fa fa-eye" aria-hidden="true"></i> Event</p>
        <% end %>

        <% if proposal.pending? %>
          <%= link_to proposal_path(proposal, proposal: { event_id: proposal.event.id, status: 'accepted' }), method: :put, remote: true do %>
            <p><i class="fa fa-check accepted" aria-hidden="true"></i> Accept</p>
          <% end %>

          <%= link_to proposal_path(proposal, proposal: { event_id: proposal.event.id, status: 'declined' }), method: :put, remote: true do %>
            <p><i class="fa fa-check declined" aria-hidden="true"></i> Decline</p>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

