<div class="navigation">
  <% if user_signed_in? %>
    <div class="hidden-xs hidden-sm">
      <div class="btn-group">
        <div class="dropdown-toggle custom-dropdown-toggle user-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-plus-circle" aria-hidden="true" style="color: #EF5257;"></i>
        </div>
        <div class="dropdown-menu custom-dropdown-menu-add" id="add-dropdown">
          <%= link_to "Add a place", new_place_path, class: "dropdown-item" %>
          <%= link_to "Add a performance", new_performance_path, class: "dropdown-item" %>
        </div>
      </div>

      <% if owner? %>
        <div class="btn-group">
          <div class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            my places <i class="fa fa-caret-down" aria-hidden="true" style="color: #EF5257;"></i>
          </div>
          <div class="dropdown-menu custom-dropdown-menu">
            <% current_user.places.each do |place| %>
              <%= link_to place.name, place_path(place), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if artist? %>
        <div class="btn-group">
          <div class="dropdown-toggle custom-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            my performances <i class="fa fa-caret-down" aria-hidden="true" style="color: #EF5257;"></i>
          </div>
          <div class="dropdown-menu custom-dropdown-menu">
            <% current_user.performances.each do |performance| %>
              <%= link_to performance.name, performance_path(performance), class: "dropdown-item" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="dropdown hidden-xs hidden-sm">
      <div class="dropdown-toggle nav-icon" id="navbar-wagon-menu" data-toggle="dropdown">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </div>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li class="text-center" style="color: #999;"><%= current_user.email %></li>
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="navbar-wagon-item hidden-md hidden-lg sign_in">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li class="text-center" style="color: #999;"><%= current_user.email %></li>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %>
          </li>

          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>

          <li>
            <%= link_to new_place_path do %>
              <i class="fa fa-plus-circle"></i> Add a place
            <% end %>
          </li>

          <li>
            <%= link_to new_performance_path do %>
              <i class="fa fa-plus-circle"></i> Add a performance
            <% end %>
          </li>

          <% if owner? %>
            <hr>
            <% current_user.places.each do |place| %>
              <li><%= link_to place.name, place_path(place) %></li>
            <% end %>
          <% end %>

          <% if artist? %>
            <hr>
            <% current_user.performances.each do |performance| %>
              <li><%= link_to performance.name, performance_path(performance) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="sign_in">
      <%= link_to "Login / Sign up", new_user_session_path, class: "login-btn" %>
    </div>
  <% end %>
</div>




