<%= render 'shared/banner-with-cloudinary', instance: @event %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8">
      <h1><%= @event.place.name %></h1>
      <h3><%= @event.name %> <small><%= @event.scheduled_at.strftime("%A %d, %B %Y") %></small></h3>
      <p><%= @event.description %></p>
      <div id="confirmed_proposals">
        <%= render 'proposals/confirmed_proposals' %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-4">
      <div id="event-sidebar" class="right-block">
        <div id="event-search-artist">
          <h5>Add a new artist for this event</h5>
          <%= render 'find_artist_form' %>
        </div>
        <div id="proposals-list">
          <h5>Your sent proposals</h5>
          <%= render 'sent_proposals' %>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="#" class="btn-treehouse-green">Promote this event</a>
    </div>
  </div>

</div>
