<% content_for :title, "Welcome to onmuze" %>
<div class="alert alert-warning" id="search-alert">
  Please fill address, event type and date fields
</div>
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 50%), url('http://res.cloudinary.com/onmuze/image/upload/c_scale,w_1920/v1495547650/background_yrtacl.jpg');">

  <%= render 'shared/navbar_home' %>

  <div class="banner-content text-center" id="home-banner">
    <div class="logo">
      <%= image_tag "onmuze_logo.png" %>
    </div>
    <h2>Create your events with nice artists and promote them easily</h2>
    <% unless current_user %>
      <%= link_to "Create for free", new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
  <div class="text-center" id="banner-find">
    <p>or</p>
    <p>find artists, places, events in your city</p>
    <%= link_to "#search", class: "no-link-style" do %>
      <i class="fa fa-caret-down fa-3x"></i>
    <% end %>
  </div>
</div>

<%= render 'site_stats' %>
<%= render 'home_form' %>
<%= render 'last_events' %>
<%= render 'last_performances' %>
<%= render 'last_places' %>
