<div class="container">
  <div class="wrapper">
    <div class="row">
      <% @performances.each do |performance| %>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <% if performance.banner.nil? %>
              <div class="card" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.4), rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('http://res.cloudinary.com/onmuze/image/upload/c_scale,w_800/v1496237409/artist_wcasg4.png');">
                <i class="fa fa-play-circle-o play-btn" id="play-btn-<%= performance.id %>" data-id="<%= performance.id %>" aria-hidden="true" data-soundcloud="<%= performance.generate_soundcloud_id %>"></i>
                <i class="fa fa-pause-circle-o pause-btn" id="pause-btn-<%= performance.id %>" data-id="<%= performance.id %>" aria-hidden="true"></i>
                <%= link_to performance_path(performance) do %>
                  <div class="card-title">
                    <h3><%= performance.name %></h3>
                  </div>
                  <div class="card-description">
                    <h5><%= performance.genre.name %></h5>
                  </div>
                  <div class="bars" id="bars-<%= performance.id %>">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                  </div>
                <% end %>
              </div>

            <% else %>
              <div class="card" style="background-image: linear-gradient(90deg, rgba(0,0,0,0.4), rgba(0,0,0,0.2), rgba(0,0,0,0.4)), url('<%= cl_image_path performance.banner.path, height: 250 %>');">
                <i class="fa fa-play-circle-o play-btn" id="play-btn-<%= performance.id %>" data-id="<%= performance.id %>" aria-hidden="true" data-soundcloud="<%= performance.generate_soundcloud_id %>"></i>
                <i class="fa fa-pause-circle-o pause-btn" id="pause-btn-<%= performance.id %>" data-id="<%= performance.id %>" aria-hidden="true"></i>
                <%= link_to performance_path(performance) do %>
                  <div class="card-title">
                    <h3><%= performance.name %></h3>
                  </div>
                  <div class="card-description">
                    <h5><%= performance.genre.name %></h5>
                  </div>
                  <div class="bars" id="bars-<%= performance.id %>">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                  </div>
                <% end %>
              </div>
          <% end %>
          <div class="hidden-player" id="player-<%= performance.id %>" data-id="<%= performance.id %>"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
