<h2 class="text-center">My proposals</h2>

<% @performance.proposals.each do |proposal| %>
  <div class="my-proposals">
    <div class="proposal-body">
      <div class="proposal-photo">
        <% if proposal.event.place.photo? %>
          <%= link_to place_path(proposal.event.place) do %>
            <%= cl_image_tag proposal.event.place.photo.path, width: 400, aspect_ratio: "16:9", crop: :fill, class: "proposal-img" %>
          <% end %>
        <% end %>
      </div>

      <div class="proposal-content">
        <h6>From</h6>
        <p><%= proposal.event.place.name %></p>
        <h6>Event Date</h6>
        <p><%= proposal.event.scheduled_at %></p>
        <h6>Status</h6>
        <p class="<%= proposal.status %>"><%= proposal.status.capitalize %></p>
      </div>
    </div>

    <% if proposal.pending? %>
      <div class="proposal-btn">
        <p><i class="fa fa-check accepted" aria-hidden="true"></i> Accept</p>
        <p><i class="fa fa-times declined" aria-hidden="true"></i> Decline</p>
      </div>
    <% end %>
  </div>
<% end %>
