<div class="container text-center">
  <% if @performance.user == current_user %>
      <%= link_to "Upcoming events in my city", root_path, class: "btn btn-lg custom-red-btn" %>

  <% elsif owner? %>
    <%= simple_form_for [@performance, @proposal] do |f| %>
      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
          <%= f.input :event_id, label: false, prompt: "Choose your event", collection: current_user.events, :label_method => lambda { |event| "#{event.name} | #{event.scheduled_at.strftime('%d/%m/%Y')}" }, value_method: :id, include_blank: false, input_html: { class: "input-lg" } %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
          <%= f.submit "Send a proposal", class: "btn btn-lg custom-red-btn"%>
        </div>
      </div>
    <% end %>

  <% else %>
    <h4><i class="fa fa-share" aria-hidden="true"></i> Share</h4>
    <ul class="list-inline social">
      <li>
        <%= link_to "http://www.facebook.com/sharer.php?u=#{performance_url(@performance)}", target: :blank do %>
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        <% end %>
      </li>

      <li>
        <%= link_to "https://twitter.com/home?status=#{performance_url(@performance)}", target: :blank do %>
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        <% end %>
      </li>

      <li>
        <%= link_to "https://plus.google.com/share?url=#{performance_url(@performance)}", target: :blank do %>
          <i class="fa fa-google-plus-square" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
