<%#= render 'shared/banner', image_path: @performance.banner.path %>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h1><%= @performance.name %></h1>
          </div>
          <div>
            <p><strong>Genre : </strong><%= @performance.genre.event_type %> <%= @performance.genre.name %></p>
            <p><strong>Address : </strong><%= @performance.address %></p>
            <p><strong>Description : </strong><%= @performance.description %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="video-block">
            <%# @embedded_video %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="right-block">
        <div class="text-center" id="events-list">
          <% if user_signed_in? %>
            <h3>My future events</h3>
            <% current_user.events.each do |event| %>
              <%= render 'event', event: event %>
            <% end %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newEventModal">
            New event
          </button>
        <% else %>
          <%= link_to "New event", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        <% end %>
        <p>FORM</p>
        <p>SEND REQUEST</p>
      </div>
    </div>
  </div>
</div>
<div>
  <% if user_signed_in? %>
  <%= render 'shared/modal', content: 'events/content_event_modal', title: 'Create an event', modal_id: 'newEventModal', arguments: { event: @event, places: current_user.places } %>
  <% end %>
</div>
