<div class="wrapper-content">
  <% if @performance.banner %>
    <div class="banner-show" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.1) 0%, rgba(0,36,61,0.4) 50%), url('<%= cl_image_path @performance.banner.path %>');">
      <div>
        <% if @performance.avatar? %>
          <%= cl_image_tag @performance.avatar.path, width: 200, height: 200, crop: :fill, class: "avatar-xxl avatar-show banner-position-left-middle" %>
        <% end %>
      </div>
    </div>
  <% else %>
    <%= render 'shared/banner-with-asset', asset_url: image_url('artist.png') %>
  <% end %>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <h1><%= @performance.name %></h1>
            </div>
            <div>
              <p><strong>Genre : </strong><%= @performance.genre.event_type %> <%= @performance.genre.name %></p>
              <p><strong>Address : </strong><%= @performance.address %></p>
              <p><strong>Description : </strong><%= @performance.description %></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="video-wrapper">
              <%= @embedded_video %>
            </div>
            <iframe width="100%" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/233433716&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="actioncall-block">
    <%= right_block_performance_show_render(@performance, @proposal) %>
  </div>
</div>
<div>
  <% if user_signed_in? %>
  <%= render 'shared/modal', content: 'events/content_event_modal', title: 'Create an event', modal_id: 'newEventModal', arguments: { event: @event, places: current_user.places } %>
  <% end %>
</div>
<% content_for :title, @performance.name %>
