<div class="text-center">
  <% if owner? %>
    <div class="row" id="search">
      <%= simple_form_for @event do |f| %>
        <div class="col-md-3">
          <%= f.input :name, label: false, placeholder: "Name " %>
        </div>
        <div class="col-md-3">
          <%= f.input :scheduled_at, as: :string, input_html: { class: "datetimepicker4" }, label: false, placeholder: "Date and time" %>
        </div>
        <div class="col-md-3">
          <%= f.association :place, prompt: "Choose your place", label: false %>
        </div>
        <div class="col-md-3">
          <div class="flexed-left">
            <%= f.submit "Create event", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
