<% if owner? %>
  <div class="wrapper-form bg-grey">
    <div class="container">
      <div class="row">
        <%= simple_form_for @event do |f| %>
          <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-2 col-md-offset-2">
            <%= f.input :name, label: false, placeholder: "Name " %>
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-2">
            <%= f.input :scheduled_at, as: :string, input_html: { class: "datetimepicker4" }, label: false, placeholder: "Date and time" %>
          </div>
          <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0 col-md-2">
            <%= f.association :place, collection: current_user.places, prompt: "Choose your place", label: false %>
          </div>
          <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-0 col-md-1">
            <div class="flexed-left">
              <%= f.submit "Create event", class: "btn btn-danger" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
