<div class="container">
  <div class="row">
    <% @place.events.each do |event| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
        <div id="card-list">
          <%= link_to event_path(event) do %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)90%), url('<%= event_show_card(event) %>');">
              <div class="card-title">
                <h3><%= event.name %></h3>
              </div>
              <div class="card-description">
                <p><%= event.scheduled_at.strftime("%d/%m/%Y") if event.scheduled_at %></p>
                <p><%= event.scheduled_at.strftime("%H:%M") if event.scheduled_at %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
