<div class="wrapper-content">
  <div class="container text-center">
    <div class="title">
      <h2>Create a new place</h2>
      <p>to organize your best event !</p>
    </div>
      <div class="col-xs-4 col-xs-offset-4">
        <%= simple_form_for @place do |f| %>
          <%= f.input :name, label: false, placeholder: "Name"%>
          <%= f.input :address, label: false, placeholder: "Address" %>
          <%= f.input :description, label: false, placeholder: "Description" %>
          <%= f.submit "Create my place", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>

<% content_for :title, "Add a place" %>
