<%= place_show_banner(@place) %>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h1><%= @place.name %></h1>
          </div>
          <div>
            <p><strong>Address : </strong><%= @place.address %></p>
            <p><strong>Description : </strong><%= @place.description %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="right-block">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newEventModal">
          New event
        </button>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/modal', content: 'shared/content_event_modal_places_show', title: 'Create an event', modal_id: 'newEventModal', arguments: { place: @place, event: @event } %>

<div>
  <% @events.each do |event| %>
  <%= link_to event.scheduled_at, event_path(event) %>
  <% end %>
</div>
