<% if @place.photo %>
  <div class="banner-show" style="background-image: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,1)), url('<%= cl_image_path @place.photo.path %>');">
    <%= render 'places/update_pic_place', place: @place %>
  </div>

<% else %>
  <div class="banner-show" style="background-image: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,1)), url('http://res.cloudinary.com/onmuze/image/upload/c_scale,w_1920/v1496228339/places_ammyga.jpg');">
    <%= render 'places/update_pic_place' %>
  </div>
<% end %>

<div class="wrapper">
  <%= render 'header' %>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Future events</h2>
        <hr>
      </div>
    </div>
  </div>
  <%= render 'event_card_show' %>
</div>

<%= render 'create_new_event' %>

<div class="wrapper">
  <div class="container">
    <h4>Opening hours</h4>
    <p>From Thuesday to Sunday</p>
    <p> 12:00 am to 2:00 am</p>
  </div>
</div>

<div class="wrapper bg-grey">
  <%= render 'location_banner' %>
</div>

<div class="wapper">
  <%= render 'location_map', latitude: @place.latitude, longitude: @place.longitude %>
</div>


<% content_for :title, @place.name %>
