<div class="wrapper">
  <%= place_show_banner(@place) %>

  <div class="wrapper">
    <%= render 'header' %>
  </div>

  <div class="wrapper">
    <%= render 'create_new_event' %>
  </div>

  <div class="wrapper">
    <%= render 'event_card_show' %>
  </div>

  <div class="wrapper-grey">
    <%= render 'location_banner' %>
  </div>
  <div class="wapper">
    <%= render 'location_map', latitude: @place.latitude, longitude: @place.longitude %>
  </div>
</div>


<% content_for :title, @place.name %>
